@media screen and (max-width: 430px) {
    .mobileHide {
        display: none;
    }

    .headerLogo {
        margin: 0;
        
    }

    .sectionMobileMenu {
        //background-color: #2C3E50;
        min-height: 50px;
        width: 100%;

        a > img {
            width: 32px;
            height: auto;

        }
    }

    
    .topsellers.products {
    flex-direction: column;   
    align-items: center;
    }

    .footerBanners {
        display: flex;
        flex-direction: column;

        img {
            width: 350px;
            height: auto;
        }
    }

    .slider {
        width: 374px;

        &.footer {
            width: 374px;

        }
    }

    .links {
        flex-direction: column;
    }

    .brands {
        img {
            width: 310px;
        }
    }


}

@media screen and (min-width: 430px) {
    .mobileOnly {
        display: none;
    }

    
    // bases

    .mgr-20-computerOnly {
        
            margin-right: 20px;
        
        
    }
    .mgl-20-computerOnly {
        
            margin-left: 20px;
        
        
    }
}