:root {
    --sandy-brown: #EDA569;
    --ripe-mango: #FCBD24;
    --spanish-orange: #EF6B00;
    --sonic-silver: #777777;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}



.headerContent {
    margin-top: 25px;
    margin-bottom: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.topbar {
    width: 100%;
    height: 30px;

    span {
        font-size: 12px;
        color: #fff;
    }

    .divider {
        margin-left: 35px;
        margin-right: 35px;
    }
}

.headerLogo {
    margin-right: 150px;
}

nav {
    li.item {
        margin-right: 55px;
        
        a { 
            color: var(--sonic-silver);
            padding: 8px;

            &:hover { color: #000000 }
        }
        
        
        &:last-child {
            
            
            a {
                background-color: var(--ripe-mango);
                color: #ffffff;

               
            }
            
        }
    }
    
}

.headerButton {
    width: 160px;
    margin-left: 50px;
}

.bannerContainer {
    .fullBanner {
        width: 100%;
       }
}

.sideBannerContainer {

    max-height: 550px;
    .sideBanner {
        width: 450px;
        height: auto;
         
        @media screen and (max-width: 410px) {
            width: 325px;
        }
    }
}

.Price {
    font-weight: bold;
}

.currentPrice {
    text-decoration-line: line-through;
}

.buttonComprar {
    width: 110px;
    height: 30px;
    background: var(--spanish-orange);
    border: none;
    outline: none;
    color: white;
    border-radius: 22px;
    visibility: hidden;
    opacity: 0;
}

.products{
    grid-template-columns: repeat(3, 1fr);
}
.productImage {
    width: 216px;
    height: auto;
}

.productCard {
    max-width: 218px;

    &:hover {

        border: 0.5px solid #828282;

        .buttonComprar {
        visibility: visible;
        opacity: 1;
    }
    }
}

.pageContent {
    max-width: 940px;
}

.groupContent {
    grid-template-columns: repeat(2, 1fr);

}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    border: 1px solid black;
}

// slide config

.slider {
    width: 98%;
    height: 620px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;


    &.footer {
        width: 920px;
    }

    .carousel {
        display: flex;
        flex-direction: row;
    }
  }
  
  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
  }
  
  .slider .item {
    margin-right: 10px;
  }
  
  .slider .item:last-child {
    margin-right: 0;
  }
  
  .ctrl {
    text-align: center;
    margin-top: 5px;
  }
  
  .ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
  
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
  }
  
  .ctrl-btn.pro-prev {
    left: 0;
  }
  
  .ctrl-btn.pro-next {
    right: 0;
  }
  

  .carousel .lightSlider{
      display: flex;
      overflow: auto;
      height: 572px !important;
      max-width: 1000px;

   
  }


  .carousel .responsive .footer {
    width: 1000px !important;
  }

.footerBanners {
    img {
        width: 447px;
height: 275px;
    }
}

.borderTop {
    background: transparent url(/assets/product/border-top.png) 0 0 no-repeat padding-box;
    background-size: 100%!important;
    background-position: 50%;
    width: 100%;
    height: 20px;
}
.borderBottom {
    background: transparent url(/assets/product/border-bottom.png) 0 0 no-repeat padding-box;
    background-size: 100%!important;
    background-position: 50%;
    width: 100%;
    height: 20px;
}

.greyContainer {

    height: 720px;
    width: 100%;

background: #F7F3F0;
}

.links {
    .column {

        margin-left: 70px;
        margin-right: 70px;

        a {
            color: var(--sonic-silver);

            &:hover {
                color: #212121;
            }
        }
    }
}


.minicart {
    width: 425px;
    height: 914px;
    background: #ffffff;
    right: 0;

    h2 {
        font-weight: 500;
    }

    .topMiniCart {
        width: 80%;
        border-bottom: 2px solid black;
    }

    .productInCart {
        img {
            width: 80px;
        }

        span {
            font-size: 16px;
        }
    }
}

.newsletterModalContainer {

    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.52);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .newsletterContent {
        width: 800px;
        height: 504px;
    
        background-image: url(../assets/newsletter/newsletter.png);
    

        .textContent {
            width: 300px;

            .inputContainer {
                background: #ffffff;
                height: 40px;
                
                .newsletterBtn {
                    border: none;
                    background: #000;
                    color: #fff;
                    width: 85px;
                    height: 30px;
                    text-transform: uppercase;
                }
            }

            
        }
    }
    

}



// html {
    
//     overflow: hidden;
//   }

// @media print {

//     html {
//         visibility: hidden ;
//         display: none;
//     }
//     ::-webkit-scrollbar {
//         display: none;
//     }
    
//     #section-to-print, #section-to-print * {
//       visibility: visible;
//     }
//     #section-to-print {
//       position: absolute;
//       left: 0;
//       top: 0;
//     }
//   }