:root {
  --sandy-brown: #EDA569;
  --ripe-mango: #FCBD24;
  --spanish-orange: #EF6B00;
  --sonic-silver: #777777;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 20px;
  -webkit-transition: 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #161616;
}

header {
  width: 100%;
}

.headerContent {
  margin-top: 25px;
  margin-bottom: 25px;
}

.uppercase {
  text-transform: uppercase;
}

.topbar {
  width: 100%;
  height: 30px;
}
.topbar span {
  font-size: 12px;
  color: #fff;
}
.topbar .divider {
  margin-left: 35px;
  margin-right: 35px;
}

.headerLogo {
  margin-right: 150px;
}

nav li.item {
  margin-right: 55px;
}
nav li.item a {
  color: var(--sonic-silver);
  padding: 8px;
}
nav li.item a:hover {
  color: #000000;
}
nav li.item:last-child a {
  background-color: var(--ripe-mango);
  color: #ffffff;
}

.menuMobileContent nav li.item {
  margin: 5px;
}

.headerButton {
  width: 160px;
  margin-left: 50px;
}

.bannerContainer .fullBanner {
  width: 100%;
}

.sideBannerContainer {
  max-height: 550px;
}
.sideBannerContainer .sideBanner {
  width: 450px;
  height: auto;
}
@media screen and (max-width: 430px) {
  .sideBannerContainer .sideBanner {
    width: 325px;
  }
}

.Price {
  font-weight: bold;
}

.currentPrice {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.buttonComprar {
  width: 110px;
  height: 30px;
  background: var(--spanish-orange);
  border: none;
  outline: none;
  color: white;
  border-radius: 22px;
  visibility: hidden;
  opacity: 0;
}

.inactive {
  opacity: 0.5;
  pointer-events: none;
}

.products {
  grid-template-columns: repeat(3, 1fr);
}

.productImage {
  width: 216px;
  height: auto;
}
@media screen and (max-width: 430px) {
  .productImage {
    width: 150px;
  }
}

.productCard {
  max-width: 218px;
}
.productCard .buttonsCardContainer {
  margin-left: 150px;
  margin-bottom: 52px;
  margin-top: -150px;
  width: 42px;
}
@media screen and (max-width: 430px) {
  .productCard .buttonsCardContainer {
    margin-left: 100px;
  }
}
.productCard .buttonsCardContainer .circularIconBtn {
  border: none;
  background: #fff;
  border-radius: 100%;
  padding: 4px;
  padding-right: 8px;
  padding-left: 7px;
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 430px) {
  .productCard .buttonsCardContainer .circularIconBtn {
    visibility: visible;
    opacity: 1;
  }
}
.productCard .buttonsCardContainer .circularIconBtn.added {
  background: rgb(255, 0, 51) !important;
}
.productCard .buttonsCardContainer .circularIconBtn img {
  margin-left: 2px;
  margin-top: 5px;
}
.productCard:hover {
  border: 0.5px solid #828282;
}
.productCard:hover .buttonComprar {
  visibility: visible;
  opacity: 1;
}
.productCard:hover .circularIconBtn {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 430px) {
  .productCard .buttonComprar {
    visibility: visible;
    opacity: 1;
  }
}

.pageContent {
  max-width: 940px;
}

.groupContent {
  grid-template-columns: repeat(2, 1fr);
}
.groupContent .slideControllers {
  margin-top: 277px;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.groupContent .slideControllers .arrowLeft, .groupContent .slideControllers .arrowRight {
  width: 40px;
  height: 40px;
  border: none;
  background: var(--sandy-brown);
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
}
.groupContent .slideControllers .arrowLeft:hover, .groupContent .slideControllers .arrowRight:hover {
  opacity: 1;
}
.groupContent .slideControllers .arrowLeft svg, .groupContent .slideControllers .arrowRight svg {
  fill: #F7F3F0;
  width: 35px;
  height: 35px;
}
.groupContent .slideControllers .arrowRight {
  margin-left: 880px;
}
@media screen and (max-width: 430px) {
  .groupContent .slideControllers .arrowRight {
    margin-left: 330px;
  }
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  border: 1px solid black;
}

.slider {
  width: 96%;
  height: 620px;
  position: relative;
  margin: auto;
}
.slider.footer {
  width: 920px;
}
.slider .carousel {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media screen and (max-width: 430px) {
  .slider .carousel {
    width: 330px;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

.carousel .lightSlider {
  display: flex;
  overflow: auto;
  height: 572px !important;
  max-width: 1000px;
}

.carousel .responsive .footer {
  width: 1000px !important;
}

.footerBanners img {
  width: 447px;
  height: 275px;
}

.borderTop {
  background: transparent url(/assets/product/border-top.png) 0 0 no-repeat padding-box;
  background-size: 100% !important;
  background-position: 50%;
  width: 100%;
  height: 20px;
}

.borderBottom {
  background: transparent url(/assets/product/border-bottom.png) 0 0 no-repeat padding-box;
  background-size: 100% !important;
  background-position: 50%;
  width: 100%;
  height: 20px;
}

.greyContainer {
  height: 720px;
  width: 100%;
  background: #F7F3F0;
}
@media screen and (min-width: 430px) {
  .greyContainer .slider {
    width: 53%;
  }
}

.links .column {
  margin-left: 70px;
  margin-right: 70px;
}
.links .column a {
  color: var(--sonic-silver);
}
.links .column a:hover {
  color: #212121;
}

.backgroundFilter {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 430px) {
  .backgroundFilter {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.52);
  }
}

.minicart {
  width: 425px;
  height: 914px;
  background: #ffffff;
  right: 0;
  position: fixed;
}
@media screen and (max-width: 430px) {
  .minicart {
    width: 100%;
  }
}
.minicart h2 {
  font-weight: 500;
}
.minicart .topMiniCart {
  width: 80%;
  border-bottom: 2px solid black;
}
.minicart .cartContent {
  height: 70%;
  max-height: 70%;
  overflow-y: auto;
}
@media screen and (max-height: 700px) {
  .minicart .cartContent {
    height: 45%;
    max-height: 45%;
  }
}
.minicart .productInCart img {
  width: 80px;
}
.minicart .productInCart span {
  font-size: 16px;
}
.minicart .productInCart .removeProduct {
  width: 16px;
  border: none;
  background: none;
}
.minicart #subTotal {
  border-bottom: #000 solid 2px;
  padding: 10px;
  width: 80%;
}
.minicart .buttonsMiniCart .keepBuying {
  font-weight: 500;
  font-size: 16px;
  color: var(--sonic-silver);
}
.minicart .buttonsMiniCart .keepBuying:hover {
  color: #212121;
}
.minicart .buttonsMiniCart .finalizePurchase {
  background: #21BA45;
  width: 345px;
  height: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
}

#menuMobile {
  width: 100%;
  height: 914px;
  background: #ffffff;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
#menuMobile h2 {
  font-weight: 500;
}

.newsletterModalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
}
.newsletterModalContainer .newsletterContent {
  width: 800px;
  height: 504px;
  background-image: url(../assets/newsletter/newsletter.png);
}
@media screen and (max-width: 430px) {
  .newsletterModalContainer .newsletterContent {
    width: 340px;
    height: 458px;
  }
}
.newsletterModalContainer .newsletterContent #closeModal {
  background: none;
  border: none;
  width: 20px;
  height: auto;
  margin-left: 760px;
  margin-top: 9px;
}
@media screen and (max-width: 430px) {
  .newsletterModalContainer .newsletterContent #closeModal {
    margin-left: 300px;
  }
}
.newsletterModalContainer .newsletterContent .textContent {
  width: 300px;
  margin-top: 100px;
  margin-left: 400px;
}
.newsletterModalContainer .newsletterContent .textContent .inputContainer {
  background: #ffffff;
  height: 40px;
}
.newsletterModalContainer .newsletterContent .textContent .inputContainer .newsletterBtn {
  border: none;
  background: #000;
  color: #fff;
  width: 85px;
  height: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 430px) {
  .newsletterModalContainer .newsletterContent .textContent {
    width: 300px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.413);
  }
}

.searchBox {
  margin-top: -52px;
}
.searchBox.searchActive {
  margin-top: 0;
}

#searchInput {
  border: none;
  width: 400px;
  height: 50px;
  font-size: 15px;
}
@media screen and (max-width: 430px) {
  #searchInput {
    width: 200px;
  }
}

#buttonSearch {
  border: none;
  background: #000;
  color: #fff;
  width: 85px;
  height: 50px;
  text-transform: uppercase;
}

#searchResult {
  width: 400px;
  height: auto;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  border-radius: 20px;
}
@media screen and (max-width: 430px) {
  #searchResult {
    width: 320px;
  }
}
#searchResult #closeResult {
  color: #777777;
}
#searchResult #closeResult:hover {
  color: #000;
}
#searchResult #searchList .resultThumb {
  width: 40px;
  height: auto;
}
#searchResult #searchList li {
  height: 79px;
  width: auto;
}
#searchResult #searchList li:hover {
  background: var(--sandy-brown);
}/*# sourceMappingURL=style.css.map */